<div class="my-14" id="order">
  <h2 class="ml-5 mr-5 mb-4 text-2xl font-bold">
    <small class="text-sm opacity-25 hover:opacity-100"><a href="#order"> 🔗 </a></small>
    Order
  </h2>
  <section class="grid grid-cols-1 md:grid-cols-3 gap-4 max-w-4xl mx-auto mb-3">
    <div class="sm:col-span-1 md:col-span-1">
      <app-emoji-button [btnId]="'toggleOrder'" (btnClick)="toggleOrder()">
        <img
          src="assets/arrow.svg"
          height="18"
          width="18"
          alt="arrow"
          class="transform transition-transform inline"
          [ngClass]="[reversOrder ? 'rotate-180' : '']"
        />
        Toggle Order
      </app-emoji-button>
      <p class="mt-1 text-sm text-toast-800">
        Setting <b><code>reverseOrder</code></b> can help achieving desired ordering for hot-toasts.
      </p>
    </div>

    <div class="sm:col-span-1 md:col-span-2">
      <div class="shadow border sm:rounded-md">
        <div class="bg-white">
          <nav class="flex flex-row">
            <button
              class="text-gray-600 py-3 px-4 block hover:text-toast-700 border-b-2 bg-gray-50 font-medium border-toast-700"
            >
              TypeScript
            </button>
          </nav>
          <div class="mb-4 px-4 max-w-full">
            <app-code [snippet]="snippet" />
          </div>
        </div>
      </div>
    </div>
    <hr class="sm:col-span-1 md:col-span-3 border-toast-300" />
    <div class="sm:col-span-1 md:col-span-1">
      <h3 class="ml-5 mr-5 mb-4 text-md bg-toast-200 p-4 rounded-2xl p-4">
        👉 You can also set order through service in your component
      </h3>
    </div>
    <div class="sm:col-span-1 md:col-span-2">
      <div class="shadow border sm:rounded-md">
        <div class="bg-white">
          <nav class="flex flex-row">
            <button
              class="text-gray-600 py-3 px-4 block hover:text-toast-700 border-b-2 bg-gray-50 font-medium border-toast-700"
            >
              TypeScript
            </button>
          </nav>
          <div class="mb-4 px-4 max-w-full">
            <app-code [snippet]="serviceSnippet" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
