<div class="vercel">
  <cmdk-command (keydown)="onKeyDown($event)" [style]="{ transform: styleTransform }" [loop]="true">
    <input cmdkInput placeholder="What do you need?" (change)="setInputValue($event)" />
    <cmdk-list>
      <div *cmdkEmpty>No results found.</div>
      @for (group of groups; track group.group) {
        <cmdk-group [label]="group.group">
          @for (item of group.items; track item.label) {
            @if (item.separatorOnTop) {
              <cmdk-separator></cmdk-separator>
            }
            <button cmdkItem [value]="item.label" (selected)="item.itemSelected && item.itemSelected()">
              <ng-container *dynamicView="item.icon" />
              {{ item.label }}
            </button>
          }
        </cmdk-group>
      }
    </cmdk-list>
  </cmdk-command>
</div>
