<div class="vercel">
  <cmdk-command (keydown)="onKeyDown($event)" [ngStyle]="{ transform: styleTransform }" [loop]="true">
    <input cmdkInput autofocus placeholder="What do you need?" (change)="setInputValue($event)" />
    <cmdk-list>
      <div *cmdkEmpty>No results found.</div>
      <cmdk-group [label]="group.group" *ngFor="let group of groups">
        <ng-container *ngFor="let item of group.items">
          <cmdk-separator *ngIf="item.separatorOnTop"></cmdk-separator>
          <button cmdkItem [value]="item.label" (selected)="item.itemSelected && item.itemSelected()">
            <ng-container *dynamicView="item.icon"></ng-container>
            {{ item.label }}
          </button>
        </ng-container>
      </cmdk-group>
    </cmdk-list>
  </cmdk-command>
</div>
