<hr />
<footer
  class="container relative justify-center my-8 flex flex-col md:flex-row justify-between items-center space-y-5 md:space-y-0"
  id="footer"
>
  <div class="flex space-x-4 items-center">
    <img src="assets/logo-small.svg" width="100" alt="hot toast" />
    <b>ngxpert hot toast</b>
  </div>
  <div class="flex space-x-4 items-center">
    <a class="underline" [href]="repoUrl"> GitHub </a>
    <a class="underline" [href]="repoUrl + '#installation'">Docs</a>
  </div>
  <div class="text-toast-600">
    Built by
    <a class="underline" href="https://github.com/ngxpert">ngxpert team</a>
  </div>
</footer>
