:host > div {
  position: relative;
  overflow-x: hidden;
  &:hover {
    --clipboard-right: 16px;
  }
}

pre {
  max-height: 350px;
  overflow-y: auto;
}

.copy-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

