<div class="my-14" id="toast-container">
  <h2 class="ml-5 mr-5 mb-4 text-2xl font-bold">
    <small class="text-sm opacity-25 hover:opacity-100"><a href="#toast-container"> 🔗 </a></small>
    Toast Container
  </h2>
  <section class="grid grid-cols-1 md:grid-cols-3 gap-4 max-w-4xl mx-auto mb-3">
    <div class="sm:col-span-1 md:col-span-1">
      <p class="mb-2">
        By default, the toast container is attached to the <code>document.body</code>. You can change this by providing
        a custom container selector in <code>HOT_TOAST_CONTAINER_TOKEN</code> injection token.
      </p>
    </div>
    <div class="sm:col-span-1 md:col-span-2">
      <div class="shadow border sm:rounded-md">
        <div class="bg-white">
          <nav class="flex flex-row">
            <button
              class="text-gray-600 py-3 px-4 block hover:text-toast-700 border-b-2 bg-gray-50 font-medium border-toast-700"
            >
              TypeScript
            </button>
          </nav>
          <div class="mb-4 px-4 max-w-full">
            <app-code [snippet]="containerSelectorSnippet" />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
